:root {
   --background-color-fons-hero: #C4C4C4;
   --background-color-white: #ffffff;
   --background-color-fond: #2F303A;
   --text-color-white: #ffffff;
   --text-color-silver: #757575;
   --text-color-black: #212121;
   --button-color: #2196f3;
   --accent-color: #000000;
   --subject-background-color: #f5f5f5;
   --heading-background-color: #F5F4FA;
   --border-items-color: #eeeeee;
   --border-header-color: #ECECEC;

}

body {
   background-color: var(--background-color-white);
   color: var(--text-color-black);
   font-family: Roboto, sans-serif;
   font-size: 14px;
   letter-spacing: 0.03em;
}

h1,
h2,
h3,
p {
   margin-top: 0px;
   margin-bottom: 0px;
}

ul,
ol {
   margin-top: 0px;
   margin-bottom: 0px;
   padding-left: 0px;
   list-style: none;
}

button {
   cursor: pointer;
}

img {
   display: block;
   max-width: 100%;
   height: auto;
}

.link {
   text-decoration: none;
}

.container {
   width: 1200px;
   margin-left: auto;
   margin-right: auto;
   padding-left: 15px;
   padding-right: 15px;
}

.section {
   padding-top: 94px;
   padding-bottom: 94px;
}

/* ?Header */

.page-header {
   padding-top: 24px;
   padding-bottom: 25px;
   border-bottom: 1px solid var(--border-header-color);
}

.main-nav {
   align-items: center;
   display: flex;
   padding-top: 0;
   justify-content: space-between;

}

.flex-nav {
   display: flex;
   justify-content: center;
   align-items: center;
}

.contact {
   margin-left: auto;
   display: flex;
}

.logo {
   font-family: 'Raleway';
   font-weight: 700;
   font-size: 26px;
   line-height: 1.19;
   color: var(--button-color);
}

.accent {
   margin-right: 93px;

   font-family: 'Raleway';
   font-weight: 700;
   font-size: 26px;
   line-height: 1.19;
   color: var(--accent-color);
}

.nav .item:not(:last-child) {
   margin-right: 50px;
}

.contact .item:not(:last-child) {
   margin-right: 50px;
}

.site-nav {
   font-weight: 500;
   line-height: 1.14;
   letter-spacing: 0.02em;
   color: var(--text-color-black);
}

.current {
   color: var(--button-color);
}

.site-nav:hover,
.site-nav:focus,
.contact-link:hover,
.contact-link:focus {
   color: var(--button-color);
}

/* ?Контакты */

.contact-list-icon {
   width: 16px;
   height: 16px;
}

.contact-link {
   font-weight: 500;
   line-height: 1.14;
   letter-spacing: 0.02em;
   color: var(--text-color-silver);
}

/* ?Section 1 */

.title {
   padding: 200px 0px;
   align-items: center;
   text-align: center;
   background-color: var(--background-color-fons-hero);

   width: 1600px;
   height: 600px;
}

.title .subtitle {
   max-width: 696px;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 30px;
   font-weight: 900;
   line-height: 1.36;
   letter-spacing: 0.06em;
   text-transform: uppercase;
   font-size: 44px;
   text-align: center;
   color: var(--text-color-white);
}

.button {
   justify-content: center;
   align-items: center;
   text-align: center;
   font-family: Roboto;
   width: 216px;
   height: 50px;
   background-color: var(--button-color);
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   border-radius: 4px;
   letter-spacing: 0.06em;
   border: none;
}

.button-text {
   font-weight: 700;
   font-size: 16px;
   line-height: 1.87;
   text-align: center;
   color: var(--text-color-white);
}

/* ?Section 2 */

.subject {
   background-color: var(--background-color-white);
}

.visually-hidden {
   position: absolute;
   width: 1px;
   overflow: hidden;
}

.flex-block {
   display: flex;
   gap: 30px;
}

.flex-block .svg {}

.flex-block-svg {
   width: 70px;
   height: 70px;
}

.subject .section:last-child {
   padding-bottom: 0px;
}

.subject .subtitle {
   margin-bottom: 10px;

   font-size: 14px;
   font-weight: 700;
   line-height: 1.14;
   text-transform: uppercase;
}

.subject .slogan {
   text-align: center;
   margin-bottom: 50px;

   font-weight: 700;
   font-size: 36px;
   line-height: 1.16;
}

.subject .desc {
   line-height: 1.71;
   color: var(--text-color-silver);
}

/* ?Section 3 */

.headline .slogan {
   text-align: center;
   margin-bottom: 50px;
   font-weight: 700;
   font-size: 36px;
   line-height: 1.16;
}

.gallery {
   display: flex;
}

.imeg {
   margin-right: 30px;
}

.imeg:last-child {
   margin-right: 0;
}

/* ?Section 4 */

.heading {
   background-color: var(--heading-background-color);
}

.heading .slogan {
   text-align: center;
   margin-bottom: 50px;
   font-weight: 700;
   font-size: 36px;
   line-height: 1.16;
}

.heading .user {
   background: var(--background-color-white);
   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
   border-radius: 0px 0px 4px 4px;
   margin-right: 30px;
}

.heading .user:last-child {
   margin-right: 0px;
}

.heading .subtitle {
   text-align: center;
   margin-top: 30px;

   font-weight: 500;
   font-size: 16px;
   line-height: 1.18;
}

.heading .desc {
   text-align: center;
   margin-top: 10px;
   margin-bottom: 30px;

   font-size: 16px;
   line-height: 1.18;
   color: var(--text-color-silver);
}

.social-list {
   display: flex;
   justify-content: center;
   column-gap: 10px;
}

.social-list-
/* ?Footer */

.footer {
   background-color: var(--background-color-fond);
   padding-top: 60px;
   padding-bottom: 60px;
}

.logo-footer {
   margin-bottom: 20px;
}

.footer .accent {
   font-family: 'Raleway';
   font-weight: 700;
   font-size: 26px;
   line-height: 1.19;
   color: var(--text-color-white);
}

.contact-footer {
   margin-bottom: 9px;
}

.contact-footer:last-child {
   margin-bottom: 0;
}

.link-maps {
   font-style: normal;
   line-height: 1.71;
   color: var(--text-color-white);
   margin-bottom: 9px;
}

.list .contact-link {
   font-weight: 400;
   line-height: 1.71;
   letter-spacing: 0.03em;
   color: rgba(255, 255, 255, 0.6);
}

/* ?Portfolio */

.gallery-items {
   display: flex;
   flex-wrap: wrap;
}

.list {
   display: flex;
   font-style: normal;
}

.portfolio .list {
   justify-content: center;
}

.list .button {
   margin-right: 8px;

   background-color: var(--heading-background-color);
   width: auto;
   height: 38px;
   border-radius: 4px;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.62;
}

.list .button:hover,
.list .button:focus {
   background: var(--button-color);
   color: var(--text-color-white);
}

.items {
   margin-right: 30px;
   margin-bottom: 30px;
}

.items:nth-child(3n) {
   margin-right: 0px;
}

.items:nth-last-child(-n + 3) {
   margin-bottom: 0px;
}

.items .text {
   padding-top: 20px;
   padding-left: 24px;
   padding-right: 24px;
   padding-bottom: 20px;
   border-bottom: 1px solid var(--border-items-color);
   border-left: 1px solid var(--border-items-color);
   border-right: 1px solid var(--border-items-color);
}

.items .slogan {
   font-weight: 700;
   font-size: 18px;
   line-height: 2;
   letter-spacing: 0.06em;
   margin-bottom: 4px;
}

.items .desc {
   font-size: 16px;
   line-height: 1.88;
   color: var(--text-color-silver);
   padding-right: 24px;
}